<main class="MY.MICROSERVICE.NAME-Service" data-root="@Request.RootUrl()">
    <input type="hidden" id="page_meta_title" value="@ViewData["Title"]" />
    <div class="content">@RenderBody()</div>
    @Html.RegisterDynamicScriptFiles()
    @Html.DevCommandsWidget()
    @Html.RegisterStartupActions()
</main>

<head>
    <title>@ViewData["Title"]</title>
    <link rel='stylesheet' href="@Request.GetAbsoluteUrl($"/styles/Styles.css?v={ResourceConfig.Version}")" type='text/css' />
</head>
