<main class="MY.MICROSERVICE.NAME-Service" data-root="@Request.RootUrl()">
    <div class="container-fluid">
        <div class="content">@RenderBody()</div>
    </div>
    @Html.RegisterDynamicScriptFiles()
    @Html.WebTestWidget()
    @Html.RunJavascript("page.ensureNonModal();")
    @Html.RegisterStartupActions()
</main>

<head>
    <title>@ViewData["Title"]</title>
    <link rel='stylesheet' href="@Request.GetAbsoluteUrl("/styles/Styles.css")" type='text/css' />
</head>