@{Layout = Request.IsAjaxCall() ? null : "~/Views/Layouts/Default.Container.cshtml";}

<main class="MY.MICROSERVICE.NAME-Service">
    <div class="container-fluid">
        <div class="content">@RenderBody()</div>
    </div>
    
    @Html.RegisterDynamicScriptFiles()
    @RenderSection("scripts", required: false)
    @Html.WebTestWidget()
    @Html.RegisterStartupActions()
    @Html.RunJavascript("page.ensureNonModal();")
</main>